<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Пользователи</title>
</head>

<body>
<h4>Добавить пользователя</h4>
<form action="admin" method="post">
    <label>
        name:
        <input type="text" name="name" value="" required aria-required="true">
    </label>
    <label>
        <br/>
        login:
        <input type="text" name="login" value="" required aria-required="true">
    </label>
    <label>
        <br/>
        password:
        <input type="password" name="password" value="" required aria-required="true">
    </label>
    <br/><br/>
    <input type="submit" value="Создать">
</form>

<h4>Пользователи</h4>
<table style="width: 400px">
    <thead>
        <tr>
            <td style="width: 50px">Id</td>
            <td style="width: 150px">Имя</td>
            <td style="width: 100px">Логин</td>
            <td style="width: 100px">Пароль</td>
        </tr>
    </thead>
    <tbody>
    <#list users as user>
        <tr>
            <td>${user.id}</td>
            <td>${user.name}</td>
            <td>${user.login}</td>
            <td>${user.password}</td>
        </tr>
    </#list>
    </tbody>
</table>
</body>
</html>
